
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("SignOut", "Users", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class=" navbar-nav navbar-right">
            <li class="nav-item dropdown">
                <img role="button" data-bs-toggle="dropdown" aria-expanded="false" id="ProfilePicture" class="rounded-circle nav-link dropdown-toggle" width="60" height="60" alt="ProfilePicture" />
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("My Profile", "Edit", "Users", new { area = "" }, new { @class = "dropdown-item" })</li>
                    <li>@Html.ActionLink("My Videos", "Index", "Videos", new { area = "" }, new { @class = "dropdown-item" })</li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Users", "Index", "Users", new { area = "" }, new { @class = "dropdown-item" })</li>
                    }
                    <li><hr class="dropdown-divider"></li>
                    <li class="dropdown-item"><button class="btn btn-dark" id="logout">Log off</button></li>
                </ul>
            </li>

        </ul>
    }
    <script>
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", document.location.origin + '/Users/GetUserPhoto');
        xmlHttp.onload = function () {
            $("#ProfilePicture").attr("src", "/PhotoFiles/" + xmlHttp.responseText);
        }
        xmlHttp.send(null);
    </script>
}
else
{
    <ul class=" navbar-nav navbar-right">
        <li class="nav-link">@Html.ActionLink("Register", "Register", "Users", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li class="nav-link">@Html.ActionLink("Log in", "Login", "Users", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
