@model IEnumerable<API.Models.Video>

@{
    ViewBag.Title = "AllVideos";
}


<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
        <div class="col-sm" >

            <div class="card" style="width: 18rem;">
                <img src="~/PhotoFiles/@item.ThumbnailURL" width="200" height="200" alt="Video Thumbnail" class="card-img-top rounded mx-auto d-block" onclick="OpenVideo(@item.Id)">

                <div class="card-body" >
                    <div class="row">
                        <div class="col-2">
                            <img src="~/PhotoFiles/@item.CreatorPhotoUrl" class="rounded-circle " width="40" height="40" alt="ProfilePicture" onclick="OpenCreatorProfile(@item.CreatorId)" />
                        </div>
                        <div class="col-10" onclick="OpenVideo(@item.Id)">
                            <p class="fw-bold">@item.VideoName</p>
                            <p>@item.CreatorName</p>
                            <p>@item.Views Views</p>
                        </div>
                        @{
                            TimeSpan tsElapsed = DateTime.Now - item.DateCreated;
                            <div id="date">@Math.Round(tsElapsed.TotalSeconds)</div>
                        }

                    </div>

                </div>
            </div>
        </div>
        }
    </div>


</div>
<script type="text/javascript" src="@Url.Content("/Scripts/allVideos.js")"></script>


