@model IEnumerable<API.Models.Video>

@{
    ViewBag.Title = "AllVideos";
}


<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
        <div class="col-sm" >

            <div class="card" style="width: 18rem;">
                <img src="~/PhotoFiles/@item.ThumbnailURL" width="200" height="200" alt="Video Thumbnail" class="card-img-top rounded mx-auto d-block" onclick="OpenVideo(@item.Id)">

                <div class="card-body" >
                    <div class="row">
                        <div class="col-2">
                            <img src="~/PhotoFiles/@item.CreatorPhotoUrl" class="rounded-circle " width="40" height="40" alt="ProfilePicture" onclick="OpenCreatorProfile(@item.CreatorId)" />
                        </div>
                        <div class="col-10" onclick="OpenVideo(@item.Id)">
                            <p class="fw-bold">@item.VideoName</p>
                            <p>@item.CreatorName</p>
                            <p>@item.Views Views</p>
                        </div>
                        
                        <div id="date">@item.DateCreated.ToString("dd M yyyy H mm ss")</div>
                    </div>

                </div>
            </div>
        </div>
        }
    </div>


</div>
<script>
    
    $("div #date").get().forEach((element) => {
        const todayDate = new Date()
        var dateString = element.innerHTML.split(" ");
        var startDate = new Date(dateString[2], dateString[1], dateString[0], dateString[3], dateString[4], dateString[5]);
        var endDate = new Date(todayDate.getFullYear(), todayDate.getMonth() + 1, todayDate.getDate(), todayDate.getHours(), todayDate.getMinutes(), todayDate.getSeconds())
        var seconds = Math.round((endDate.getTime() - startDate.getTime()) / 1000);

        var minute = Math.round(seconds / 60);
        var hour = Math.round(seconds / 3600);
        var day = Math.round(seconds / 86400);
        var month = Math.round(seconds / 2630000);
        var year = Math.round(seconds / 31556926);

        if (seconds > 60) {
            if (year>0) {
                element.innerHTML = year + " years ago";
            }
            else if (month>0) {
                element.innerHTML = month + " months ago";
            }
            else if (day > 0) {
                element.innerHTML = day + " days ago";
            }
            else if (hour > 0) {
                element.innerHTML = hour + " hours ago";
            }
            else {
                element.innerHTML = minute + " minutes ago";
            }

        }
        else {
            element.innerHTML = seconds + " seconds ago";
        }
    });

    function OpenVideo(id)
    {
        window.location = document.location.origin + '/Videos/Details/'+id;
    }
    function OpenCreatorProfile(id) {
        window.location = document.location.origin + '/Users/Details/' + id;
    }
</script>


