@model API.Models.Video

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<div class="form-horizontal">
    <div class="form-group">

        <div class="col-md-10">
            <div class="d-none" id="VideoNameValidation"><h3 class="text-danger">Add video name!</h3></div>
            <label>VideoName:</label>
            <input type="text" id="VideoName" name="VideoName" value="@Model.VideoName" />
        </div>
    </div>
    <div class="form-group">

        <div class="col-md-10">
            <div class="d-none" id="froala-editorValidation"><h3 class="text-danger">Add description!</h3></div>
            <label>Description:</label>
            <textarea id="froala-editor" name="description">@Model.Description</textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <div class="d-none" id="ThumbnailValidation"><h3 class="text-danger">Add thumbnail!</h3></div>
            <label>Thumbnail:</label>
            <input type="file" id="Thumbnail" name="Thumbnail" value="@Model.ThumbnailURL" accept="image/png, image/jpeg" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <div class="d-none" id="VideoInputValidation"><h3 class="text-danger">Add video!</h3></div>
            <label>Filename:</label>
            <div id="VideoDiv">
                <input type="file" id="VideoInput" value="@Model.VideoURL" accept="video/mp4" /><br /><br />
                <input type="button" id="btnUpload" value="Submit" /><br /><br />
                <div id="progressbar_container" style="width: 100%; height: 30px; position: relative; background-color: grey; display: none">
                    <div id="progressbar" style="width: 0%; height: 100%; position: absolute; background-color: green"></div>
                    <span id="progressbar_label" style="position: absolute; left: 35%; top: 20%">Uploading...</span>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="@Url.Content("/Scripts/WebsiteScripts/editVideo.js")"></script>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
